.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  max-width: 200px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.key {
  padding: 10px;
  font-size: 18px;
  background-color: #dff9fb;
  border: none;
  
}
.button-pressed {
  background-color: #95afc0;
  cursor: crosshair;
}