.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.word {
  display: flex;
  flex-direction: row;
}
.word div {
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}